.app-header {
  width: 100%;
  height: 100px;

  background-color: var(--bg-dark-primary);
  border-bottom: 1px solid var(--bg-dark-tertiary);
}

/* Inner layout only for spacing */
.header-content {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1.5rem;
}

/* Branding */
.logo {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.logo-accent {
  color: var(--accent-primary);
}

/* Right side */
.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-name {
  font-size: 0.9rem;
  color: var(--text-light-tertiary);
}