.app-header {
  width: 100%;
  min-height: 100px;

  background-color: var(--bg-dark-primary);
  border-bottom: 1px solid var(--bg-dark-tertiary);
}

/* Inner layout only for spacing */
.header-content {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1.5rem;
}

/* Branding */
.logo {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.logo-accent {
  color: var(--accent-primary);
}

/* Right side */
.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-name {
  font-size: 0.9rem;
  color: var(--text-light-tertiary);
}


@media (min-width: 1280px) {
}

@media (min-width: 600px) and (max-width: 1280px) {
}

@media (max-width: 600px) {
  .app-header {
    height: 64px;
  }

  .header-content {
    padding: 0 1rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .header-right {
    gap: 0.5rem;
  }

  .user-name {
    display: none;
  }

  .btn {
    padding: 0.35rem 0.6rem;
    font-size: 0.85rem;
  }
}