@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --bg-dark-primary: #0f0f0f;
  --bg-dark-secondary: #1a1a1a;
  --bg-dark-tertiary: #292929;
  --bg-hover: #222222;
  --accent-primary: #a790eb;
  --accent-secondary: #8672d4;
  --accent-tertiary: #554781;
  --text-light-primary: #e0e0e0;
  --text-light-secondary: #adadad;
  --text-light-tertiary: #7c7c7c;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  background-color: var(--bg-dark-secondary);
  color: var(--text-light-primary);
  font-family: "Outfit";

  display: flex;
  flex-direction: column;
}

.mainContainer {
  flex: 1;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

fieldset {
  border: none;
}